<div class='full'>	
<center>
</center>	
<div class="progress centered progressBar" id="progress">
            <div class="progress-bar" style="width: 0%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
            <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
            <div class="progress-bar progress-bar-success" style="width: 10%;"></div>
            <div class="progress-bar progress-bar-info" style="width: 10%;"></div>
          </div>	
</div>
