<form action="dashboard/addMetaInfo" method="post" class="newlisting">
	<h6>Upload Photos</h6>
	<span class="fileinput-button buttonx">
	        <i class="glyphicon glyphicon-plus"></i>
	        <span>Upload Images...</span>
	        <!-- The file input field used as target for the file upload widget -->
	        <input id="fileupload" type="file" name="files[]" multiple class="">
	    </span>&nbsp;&nbsp;&nbsp;<input type="submit" class="buttonx blue" style="display:inline;width:200px" value="Next" />
	    <div id="progress" class="progress">
	        <div class="progress-bar progress-bar-success"></div>
	    </div>
	    <div  class="files">
	    	<ul id="files">
	    	</ul>
	    </div>
	    
</form>    