
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form action="listing/updatestatus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">		
      	<input type="hidden" class="var" id="id" value="{{this.id}}"/>
		    <input type="checkbox" id="status" value="sold" class="var"  {{#if status}}checked="checked"{{/if}}/> This property was sold
      </div>
      <div class="modal-footer">
        <div class="col-md-6 col-sm-6"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        <div class="col-md-6 col-sm-6"><input type="submit" class="btn btn-primary" value="Change"/></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>        
</div><!-- /.modal -->
